<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Announcements App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light" style="background-color: #F5F5F5
;">
        <a class="navbar-brand" href="#">Announcements</a>
    </nav>
</div>

<div class="container">
    <form th:object="${editAnnouncement}" th:action="@{/announcement/add}" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput"  >Title</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title"th:field="*{name}" >
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2" >Description</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description"th:field="*{description}" >
        </div><div class="form-group">
        <label for="formGroupExampleInput3" >Publisher</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Publisher"th:field="*{publisher}" >
    </div>
        <div class="form-group">
            <label for="formGroupExampleInput4">Contact</label>
            <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Contact" th:field="*{phone}">
        </div>
            <div>
                <input type="hidden" class="form-control" placeholder="id"
                       th:field="*{ID}">
            </div>
            <input class="btn btn-default" type="submit" value="Update">
        </form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>